extends layout

block content
    .content-column.mdl-cell.mdl-cell--12-col
        .content-grid.mdl-grid
            .mdl-layout-spacer        
            .about-form-card.mdl-card.mdl-shadow--6dp
                .mdl-card__media.mdl-color--white
                    img(src='images/imock-75.png', alt='')
                .mdl-card__supporting-text
                    h5.span.about-title-card <strong>iMock</strong>                                        
                .mdl-card__supporting-text
                    .mdl-card__actions.mdl-card--border
                        h6.span.about-text-card Virtual services                                            
            .mdl-layout-spacer        
