extends layout

block content
    .mdl-cell.mdl-cell--12-col
        .mdl-grid
            .mdl-layout-spacer        
            .about-card.mdl-card.mdl-shadow--6dp
                .mdl-card__media.mdl-color--white
                    img(src='images/imock-75.png', alt='')
                .mdl-card__supporting-text
                    h5.span.about-title <strong>iMock</strong>                                        
                .about-border.mdl-card__supporting-text
                    .mdl-card__actions.mdl-card--border
                        h6.span.about-text Virtual services                                            
            .mdl-layout-spacer        
