extends layout

block content
    each group, groupIndex in servicesList
        section(id='scroll-tab-' + groupIndex, class= groupIndex==active ? 'is-active' : '').mdl-layout__tab-panel
            .content-grid.mdl-grid
                | test 1
                each campaign, campaignIndex in group
                    | test 2