doctype html
html(lang="en")
    include header
    body
        .mdl-layout.mdl-js-layout
            include menu
            main.mdl-layout__content
                .page-content
                    .content-column.mdl-cell.mdl-cell--12-col
                        block content
                    include footer
        include scripts
