doctype html
html(lang="en")
    include header
    body
        .mdl-layout.mdl-js-layout
            include menu
            main.mdl-layout__content
                block content
                include footer
        include script
