extends layout

block content
    .content-column.mdl-cell.mdl-cell--12-col
        .content-grid.mdl-grid
            .mdl-layout-spacer        
            .user-card.mdl-card.mdl-shadow--6dp
                .user-card-title.mdl-card__title.mdl-shadow--2dp.mdl-color--accent.mdl-color-text--white
                    h2.mdl-card__title-text Welcome to iMock Admin
                .mdl-card__supporting-text
                    form(action='#')
                    .user-card-body
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input#username.mdl-textfield__input(type='text')
                            label.mdl-textfield__label(for='username') User name
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                            input#userpass.mdl-textfield__input(type='password')
                            label.mdl-textfield__label(for='userpass') Password
                    .mdl-card__actions.mdl-card--border
                        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
                            | Log In
            .mdl-layout-spacer        
