extends layout

block content
    .content-column.mdl-cell.mdl-cell--12-col
        table.viewer-table.mdl-data-table.mdl-js-data-table.mdl-shadow--6dp
            thead
                tr
                    th group
                    |       
                    th campaign
                    |       
                    th time stamp
                    |       
                    th mode
                    |       
                    th consumer
                    |       
                    th producer
                    |       
                    th path
                    |   
                    th method
                    |   
                    th status
                    |   
                    th request
                    |   
                    th response
                    |   
                    th duration
                    |   
            tbody
                tr
                    td 10
                    |       
                    td 5
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                tr
                    td 10
                    |       
                    td 5
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       
                    td 50
                    |       

