/**
 * Copyright © 2016 Dekka Inc. All Rights Reserved.
 */


/* Global */

html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.mdl-layout__content {
    background-color: rgba(0, 0, 0, 0.5);
}

.mdl-data-table th,
td {
    text-align: left !important;
}

.hljs {
    padding: 0;
    background: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Menu */

.menu-progress {
    display: none;
    position: absolute !important;
    width: 100%;
}

.menu-progress>.bufferbar {
    background-image: linear-gradient(to right, #ffffff, #ffffff), linear-gradient(to right, #ff0000, #ff0000) !important;
    left: 0;
    z-index: 0;
}

.menu-progress>.auxbar {
    background-image: linear-gradient(to right, #ff0000, #ff0000), linear-gradient(to right, #ffffff, #ffffff) !important;
    left: 0;
    z-index: 0;
}

.menu-progress>.progressbar {
    background-color: #ff0000 !important;
    left: 0;
    z-index: 1;
}