/**
 * Copyright Â© 2016 Dekka Inc. All Rights Reserved.
 */

html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}


/* Cards */

.mdl-card {
    float: left;
    height: 310px;
    padding: 10px;
    width: 95%;
}

.producer-label {
    display: inline-block;
    height: 40px;
    width: 30%;
}

.producer-text {
    display: inline-block;
    height: 20px;
    width: 70%;
    white-space: nowrap;
}

.path-label {
    display: inline-block;
    height: 40px;
    width: 15%;
}

.path-text {
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 85%;
    white-space: nowrap;
}

.mdl-card__actions {
    align-items: center;
    box-sizing: border-box;
    display: flex;
}