/**
 * Copyright © 2016 Dekka Inc. All Rights Reserved.
 */


/* Viewer */

.viewer-content-column {
    margin-bottom: 20px;
    margin-left: 5px;
    margin-top: 10px;
    min-height: 95% !important;
}

.viewer-data-table {
    width: 100%;
}

.viewer-center {
    display: block;
    text-align: center;
}

.viewer-material-icons {
    vertical-align: -25%;
}

.viewer-span-time {
    background-color: rgba(0, 0, 0, 0.1);
}

.viewer-method-post {
    background-color: #13c20f;
    color: #ffffff;
    height: 25px;
    padding-top: 3px;
    width: 60px;
}

.viewer-method-put {
    background-color: #ff9000;
    color: #ffffff;
    height: 25px;
    padding-top: 3px;
    width: 60px;
}

.viewer-method-delete {
    background-color: #e30012;
    color: #ffffff;
    height: 25px;
    padding-top: 3px;
    width: 60px;
}

.viewer-method-get {
    background-color: #2392f7;
    color: #ffffff;
    height: 25px;
    padding-top: 3px;
    width: 60px;
}

.viewer-status-200 {
    background-color: #13c20f;
    color: #ffffff;
    height: 25px;
    padding-top: 3px;
    width: 60px;
}

.viewer-status-400 {
    background-color: #f39822;
    color: #ffffff;
    height: 25px;
    padding-top: 3px;
    width: 60px;
}

.viewer-status-500 {
    background-color: #d40011;
    color: #ffffff;
    height: 25px;
    padding-top: 3px;
    width: 60px;
}